[submodule "vim/pack/galiaga/start/vim-airline"]
	path = vim/pack/galiaga/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/galiaga/start/nerdtree"]
	path = vim/pack/galiaga/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/galiaga/start/vim-airline-themes"]
	path = vim/pack/galiaga/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/galiaga/opt/emmet-vim"]
	path = vim/pack/galiaga/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/deoplete/start/deoplete.nvim"]
	path = vim/pack/deoplete/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "vim/pack/deoplete/start/nvim-yarp"]
	path = vim/pack/deoplete/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "vim/pack/deoplete/start/vim-hug-neovim-rpc"]
	path = vim/pack/deoplete/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "vim/pack/deoplete/start/LanguageClient-neovim"]
	path = vim/pack/deoplete/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
